.input {
    padding: 1px calc(100% - 30px) 1px 3px;
    position: relative;

    &::after {
        position: absolute;
        left: 33px;
        top: 50%;
        transform: translateY(-50%);

        content: attr(data-value);
    }

    &[data-empty=true]::after {
        color: #bfbfbf;
    }
}

.extendedContainer {
    position: relative;

    .clearIcon {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translateY(-50%);
    }
}

