@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Regular.ttf);
    font-weight: normal;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/Roboto-Bold.ttf);
    font-weight: bold;
}

html {
    height: 100%;
}

body, #app {
    height: 100%;
    margin: 0;
}

* {
    box-sizing: border-box
}

.d-none {
    display: none !important;
}