#app {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.settings-profile-editor-wrapper {
    height: 100%;
}

.original-text-transformer-editor {
    height: calc(100% - 1px);

    & > .monaco-editor {

    }
}

.tabs {
    display: flex;
    flex-direction: row;
    font-size: 0.8rem;
    border-bottom: 1px solid #ebecf0;

    .tab {
        padding: 10px;
        user-select: none;
        color: #404040;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        gap: 8px;

        position: relative;

        .tab-icon {
            margin: 0;
            border: none;
            border-radius: 100%;
            background: none;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            opacity: 0.8;

            .material-symbols-rounded {
                position: relative;
                color: #a9aebe;
                font-size: 18px;

                font-variation-settings: 'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;
            }

            &.tab-icon-yellow {
                .material-symbols-rounded {
                    color: #fdd47f;
                }
            }

            &.tab-icon-blue {
                .material-symbols-rounded {
                    color: #77cae8;
                }
            }
        }

        .tab-renaming-name {

        }

        .tab-action {
            margin: 0;
            border: none;
            border-radius: 100%;
            background: none;
            width: 15px;
            height: 15px;
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;

            &.tab-close {
                visibility: hidden;
            }

            &:focus, &:focus-visible {
                outline: none;
            }

            .material-symbols-rounded {
                position: relative;
                //margin-top: -1px;
                //margin-left: -1px;
                margin-bottom: -0.5px;
                color: #a9aebe;
                font-size: 11px;

                font-variation-settings: 'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;
            }

            &.tab-close:hover {
                background-color: #ebebed;

                .material-symbols-rounded {
                    color: #838796;
                }
            }
        }

        &.pinned {
            .tab-close {
                display: none;
            }
        }

        &:hover, &.active {
            color: #000000;

            &.pinned {
                color: #0032a0;
            }

            .tab-close {
                visibility: visible;
            }

            .tab-icon {
                opacity: 1;
            }
        }

        &.active {
            &::after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 2.5px;
                background: #3574f0;
                border-radius: 3px;
            }
        }

        &.new-tab {
            margin-inline-start: 6px;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;

            .material-symbols-rounded {
                padding: 3px;
                color: #a9aebe;
                font-size: 16px;
                border-radius: 2px;

                font-variation-settings: 'FILL' 1,
                'wght' 400,
                'GRAD' 0,
                'opsz' 24;
            }

            .material-symbols-rounded:hover {
                color: #838796;
                background-color: #ebebed;
            }
        }

        &.pinned {
            color: #4065b8;
        }

        &.activated {
            color: #4065b8;
        }
    }
}